*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* -----dark mode start here----- */
.bmiSectionDarkMode{
    background-color: #000;
}
.cardHeaderDarkMode{
    background-color: #000;
    color: #fff;
    padding:8px 16px;
}
.groupBtnDarkMode{
    background-color: #000 !important;
    color: #fff !important;
}
/* -----dark mode end here----- */




.bmi-section{
    background-color: #FFF0DC;
}
.bmi-row{
    height:100vh;  
}
.card-header{
    background-color: #F0BB78 !important;
}
.group-btn{
    background-color: #FFF0DC !important;
}

